body, html, #root{

}

.guest-container{
    background: linear-gradient(80deg, #FAF6F6 0%, #F5EFFF 54%, #CDC1FF 100%); 
}
.signed-in-container {
    background-color: #FAF6F6;
}


.main-section{
    width: 100%;
    height: auto;
}
