.profile-sidebar{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.user-profile{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}
.user-profile h2 {
    margin-block: 0px;
    color: #010E14;

    font-family: 'Poppins';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}
.user-profile h3 {
    margin-block: 0px;
    color: #737C80;

    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.currency{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}
.currency h2{
    margin-block: 0px;
    color: #010E14;

    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.navigation{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px; /* subject to change*/
}
.navigation ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
    list-style-type: none;
}