.book-log{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.book-log h1 {
    display: flex;
    margin-block: 0px;
    color: #010E14;

    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.bl-table-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.bl-table-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 20px;

    border-radius: 10px;
    background-color: #F5EFFF;
}
.bl-th-cell-info{
    width: 40%;
    min-width: 116px;
    display: flex;
    justify-content: flex-start;
}
.bl-th-cell-status, .bl-th-cell-deadline{
    width: 30%;
    min-width: 100px;
    display: flex;
    justify-content: center;
}

.bl-table-body{
    display: flex;
    flex-direction: column;
    /* padding: 20px 20px; */
}
.bl-table-row{
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 20px;
    gap: 20px;

    border-bottom: 0.5px solid #E5E5E5;
}
.bl-tb-cell-info{
    width: 40%;
    min-width: 116px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.bl-amount{
    color: #5EA8ED;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
.bl-type{
    color: #010E14;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}
.bl-time, .bl-reason{
    color: #737C80;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}
.bl-tb-cell-status, .bl-tb-cell-deadline{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bl-tb-cell-status{
    min-width: 100px;
}
.bl-tb-cell-status span{
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 2px 0px;

    border-radius: 10px;

    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;

    color: rgba(235, 211, 91);
    background-color: rgba(235, 211, 91, 0.25);
}
.bl-tb-cell-deadline {
    min-width: 100px;
}
.bl-tb-cell-deadline span {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 2px 0px;

    border-radius: 10px;

    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;

    color: rgb(251, 86, 86);
    background-color: rgba(251, 86, 86, 0.25);
}