@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.navbar-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    align-items: center;
    gap: 40px;
    background: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.n-left-region{
    width: auto;
    height: auto;
    display: flex;
    caret-color: transparent;
}
.n-left-region img{
    object-fit: contain;
}

.n-mid-region{
    width: 80%;
    height: auto;
    display: flex;
    padding: 5px 0px;
    align-items: flex-end;
    gap: 20px;
    caret-color: transparent;
}
.n-mid-region  div{
    width: auto;
    height: auto;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: #010E14;

    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.n-mid-region div:hover{
    color: #CDC1FF;
    cursor: pointer;
}

.n-right-region{
    display: flex;
    width: auto;
    height: auto;
    padding: 5px 10px;
    justify-content: flex-end;
    align-items: center;
}
.n-logged-in-btn{
    width: 35px;
    height: 35px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 25px;
    border-color: transparent;
    background-color: #010E14;
    caret-color: transparent;
    cursor: pointer;
}
.n-logged-in-btn img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.n-logged-in-btn:hover{
    background-color: #CDC1FF;
}
.n-sign-in-btn{
    width: 100px;
    height: auto;
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: rgba(205, 193, 255, 0.24);
    caret-color: transparent;

    color: #010E14;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
.n-sign-in-btn:hover{
    background-color: rgba(205, 193, 255, 0.8);
    color: white;
    cursor: pointer;
}

@media (max-width: 824px) {
    .navbar-container{
        justify-content: space-between;
    }
    
    .n-mid-region {
        display: none;
    }
}