.profile-sidebar{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.user-profile{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}
.user-profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    object-fit: cover;
}
.user-profile h2 {
    margin-block: 0px;
    color: #010E14;

    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.user-profile h3 {
    margin-block: 0px;
    color: #737C80;

    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.currency{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}
.currency h2{
    margin-block: 0px;
    color: #010E14;

    font-family: 'Montserrat';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
.currency a {
    width: auto;
    height: auto;

    padding: 5px 0px 5px 0px;
    text-align: start;
    color: #010E14;

    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;

    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.lend-borrow-btn{
    width: 100%;
    height: auto;
    padding: 15px 0px;

    border-radius: 40px;
    border-width: 2px;
    border-color: #FFFFFF;
    border-style: solid;

    font-family: 'Poppins';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;

    background-color: #CDC1FF;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.navigation{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px; /* subject to change*/
}
.navigation ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
    list-style-type: none;
}
.navigation svg{
    width: 20px;
    height: 20px;
}
.navigation button{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    border-style: none;

    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    background-color: transparent
}
.navigation button:hover{
    border-radius: 10px;
    background-color: #cdc1ff2d;
    cursor: pointer;
}