.transaction-history{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.transaction-history h1 {
    display: flex;
    margin-block: 0px;
    color: #010E14;

    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.t-table-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.t-table-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 20px;

    border-radius: 10px;
    background-color: #F5EFFF;
}
.t-th-cell-info{
    width: 50%;
    min-width: 70px;
    display: flex;
    justify-content: flex-start;
}
.t-th-cell-user{
    width: 25%;
    min-width: 42px;
    display: flex;
    justify-content: flex-start;
}
.t-th-cell-amount{
    width: 25%;
    min-width: 54px;
    display: flex;
    justify-content: flex-end;
}

.t-table-body{
    display: flex;
    flex-direction: column;
}
.t-table-row{
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 20px;
    gap: 10px;

    border-bottom: 0.5px solid #E5E5E5;
}
.t-tb-cell-user{
    width: 25%;
    min-width: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.t-tb-cell-user img{
    width: 40px; 
    height: 40px;

    border-radius: 50%;
    border: 1px solid #000000;

    object-fit: cover; 
}
.t-tb-cell-info{
    width: 50%;
    min-width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.t-type{
    color: #010E14;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}
.t-time, .t-reason{
    color: #737C80;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}
.t-tb-cell-amount{
    width: 25%;
    min-width: 54px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}