.subscribe-inpt{
    position: relative;
    display: flex;
    height: 45px;
    width: 100%;
    max-width: 260px;
    align-items: center;
}

.subscribe-inpt input{
    flex: 1;
    height: 45px;
    min-width: 90px;
    padding: 0px;

    background-color: transparent;
    outline: none;
    border-radius: 25px;
    border: 1px #ffffff solid;

    color: #fff;
    text-indent: 20px;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;

}
.subscribe-inpt input::placeholder{
    color: #fff;
}
.subscribe-inpt button{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 46px;
    background-color: #fff;
    border-radius: 50px;
    border: none;

    color: #CDC1FF;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}