.si-form-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    width: 100%;
    max-width: 500px;

    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.auth-form-alternative{
    margin-top: 30px;
    color: #010E14;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}
.auth-form-alternative a{
    color: #CDC1FF;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

@media (max-width: 768px) {
    .si-form-container{
        max-width: none;
        height: 100vh;
        padding: 10%;
    }
}
