.th-search-and-refine-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.th-search-and-refine-section div:nth-child(1){
    display: flex;
    flex: 2;
}
.th-search-and-refine-section div:nth-child(2){
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    gap: 10px;
}

.th-search-and-refine-section.narrow{
    flex-direction: column;
}
.th-search-and-refine-section.narrow div:nth-child(2){
    justify-content: flex-start;
}

@media (max-width: 240px) {
    .th-search-and-refine-section div:nth-child(2){
        flex-direction: column;
    }
}

