.nav-link-btn{
    width: auto;
    height: auto;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: #010E14;

    border: none;
    background-color: transparent;

    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.nav-link-btn:hover{
    color: #CDC1FF;
    cursor: pointer;
}