.n-mid-region{
    flex: 1 1 80%;
    height: auto;
    display: flex;
    padding: 5px 0px;
    align-items: center;
    gap: 20px;
    caret-color: transparent;
}

@media (max-width: 842px) {
    .n-mid-region {
        display: none;
    }
}