.bad-credits{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border: 1px solid #FB5656;
    
    background: rgba(251, 86, 86, 0.20);
    backdrop-filter: blur(2px);
    box-shadow: 0px 2px 4px 0px rgba(251, 86, 86, 0.25);
}
.bad-credits span{
    display: flex;
    color: #FB5656;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.bad-credits svg{
    min-width: min-content;
}