.calendar-check-btn{
    max-width: 160px;
    min-width: min-content;
    min-height: 35px;
    max-height: 35px;
    padding: 0px 5px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex:1;
    height: auto;
    
    border-radius: 10px;
    border-width: 1px;
    border-color: #010E14;
    border-style: solid;

    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;

    background-color: #fff;
    cursor: pointer;

    svg{
        width: 18px;
        height: 18px;

    }
}