.tab-btn{
    flex: 1;
    height: 45px;
    min-width: 85px;

    border-width: 0px;
    border-radius: 10px;

    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    background-color: #fff;
    cursor: pointer;
}
.tab-btn.active{
    background-color: #F5EFFF;
}