.blm-table-row{
    display: flex;
    min-width: 340px;
    flex-direction: row;
    padding: 20px 20px 20px 20px;
    gap: 20px;

    border-bottom: 0.5px solid #E5E5E5;
}
.blm-tb-cell-info{
    width: 40%;
    min-width: 116px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.blm-amount{
    color: #5EA8ED;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
.blm-type{
    color: #010E14;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}
.blm-time, .blm-reason{
    color: #737C80;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}
.blm-tb-cell-status, .blm-tb-cell-deadline{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blm-tb-cell-status{
    min-width: 100px;
}
.blm-tb-cell-status span{
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 2px 0px;

    border-radius: 10px;

    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;

    color: rgba(235, 211, 91);
    background-color: rgba(235, 211, 91, 0.25);
}
.blm-tb-cell-deadline {
    min-width: 100px;
}
.blm-tb-cell-deadline span {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 2px 0px;

    border-radius: 10px;

    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;

    color: rgb(251, 86, 86);
    background-color: rgba(251, 86, 86, 0.25);
}