.blm-table-row{
    display: flex;
    flex: 1;
    min-width: 340px;
    flex-direction: row;
    padding: 20px 20px 20px 20px;
    gap: 20px;

    border-bottom: 0.5px solid #E5E5E5;
}
.blm-table-row div{
    flex: 1;
    justify-content: center;
    align-items: center;
    min-width: 0px;
}
.blm-cell-deadline, .blm-cell-status{
    display: flex;
}

.blm-cell-info {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: column;
    h4 {
        margin-block: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;	
    }
}
.blm-amount{
    color: #5EA8ED;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
.blm-exchange{
    color: #010E14;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}
.blm-exchange a{
    color: #010E14;
    text-decoration: none;
    font-weight: 600; 
}
.blm-time, .blm-for{
    color: #737C80;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}
.blm-for{
    padding-bottom: 2px;
}

.blm-cell-status span{
    display: flex;
    flex: 1;
    height:min-content;
    justify-content: center;
    align-items: center;
    padding: 2px 0%;

    border-radius: 10px;

    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;

    color: rgba(235, 211, 91);
    background-color: rgba(235, 211, 91, 0.25);
}
.blm-cell-deadline span {
    display: flex;
    flex: 1;
    height:min-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px 0%;

    border-radius: 10px;

    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;

    color: rgb(251, 86, 86);
    background-color: rgba(251, 86, 86, 0.25);
}