.bl-table-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 20px;

    border-radius: 10px;
    background-color: #F5EFFF;

    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.bl-th-cell-info{
    width: 40%;
    min-width: 116px;
    display: flex;
    justify-content: flex-start;
}
.bl-th-cell-status, .bl-th-cell-deadline{
    width: 30%;
    min-width: 100px;
    display: flex;
    justify-content: center;
}
