.sign-in-container{
    min-width: 800px;
    min-height: 600px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAF6F6;
}