.info-item-component{
    display: flex;
    flex-direction: row;
    height: min-content;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    border-bottom: 0.5px solid #E5E5E5;
}
.ifc-data{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    min-width: 0px;
}
.ifc-body{
    display: flex;
    flex-direction: column;
    text-indent: 5px;
    gap: 2px;
    min-width: 0px;
    overflow: hidden;
}

.ifc-default-header {
    color: #010E14;
    margin-block: 0px;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ifc-username{
    color: #737C80;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    text-decoration: none;
}

.ifc-message{
    display: flex;
    flex-direction: row;
    gap: 0px;

    h4{
        margin-block: 0px;
        color: #737C80;
        font-family: 'Poppins';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    svg{
        width: 16px;
        height: 16px;
    }
}

.ifc-notification-header h4{
    margin-block: 0px;
    color: #737C80;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ifc-time{
    margin-block: 0px;
    color: #CDC1FF;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal ;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden ;
    text-overflow: ellipsis;
}